## -*- coding: utf-8 -*-
<%namespace name="base_helper" file="base_helper.tmpl"/>
${set_locale(lang)}
<!DOCTYPE html>
<html lang="${lang}">
<head>
    ${base_helper.html_head()}
    <%block name="extra_head">
    </%block>
    ${extra_head_data}
<script language="JavaScript" type="text/javascript" >
	var imgNameList=new Array();
	imgNameList.push("/1000x226_01.JPG");
	imgNameList.push("/1000x226_02.JPG");
	imgNameList.push("/1000x226_03.JPG");
	imgNameList.push("/1000x226_04.JPG");
	imgNameList.push("/1000x226_05.JPG");
	imgNameList.push("/1000x226_06.JPG");
</script>

</head>
<body>
<!-- Menubar -->
<div class="header">
<script>
document.write("<style>#aaa {background: url("+imgNameList[parseInt(Math.random()*imgNameList.length)]+");}<\/style>");
</script>
    <div class="header_box" id="aaa">
            <h1 class="logo" id="logo"><a href="${abs_link('/')}">${blog_title}</a>
            </h1>
            <ul class="main_nav" id="mainNav">
                ${base_helper.html_sidebar_links()}
            </ul>
    </div>
</div>
<!-- End of Menubar -->
<div class="content clearfix">
    <!--Body content-->
    <%block name="base_body_content"></%block>
    <!--End of body content-->
</div>
<div class="footer">
    ${content_footer}
</div>
<div id="goTop" class="go_top" title="返回顶部"></div>

<%block name="base_footer_content">

</%block>

${base_helper.html_social()}
${analytics}
</body>
