## -*- coding: utf-8 -*-
<%inherit file="base.tmpl"/>
<%block name="content">
<div class="page_title">
		<ul class="breadcrumbs">
		 % for link, crumb in crumbs:
		 	% if link == '#':
		 		
	        % else:
		        <li><a href="${link}">/${crumb}</a></li>
				<li class="arrow">›</li>
			% endif
	     % endfor
		</ul>
</div>

% if folders:
<div class="article_box">
	<div class="article_title">
		<h3>文件夹列表</h3>
	</div>
	<div class="entry">
    	<ul>
			% for name in folders:
			    <li><a href="${name}"><i class="icon-folder-open"></i> ${name}</a>
			% endfor
		</ul>
	</div>
</div>
% endif

% if files:
<div class="article_box">
	<div class="article_title">
		<h3>文件列表</h3>
	</div>
	<div class="entry">
		<ul>
		% for name in files:
		    <li><a href="${name}.html"><i class="icon-file"></i> ${name}</a>
		% endfor
		</ul>
	</div>
</div>
% endif

% if code:
<div class="article_box">
	<div class="article_title">
		<h3>${crumbs[-1][1][0:-5]}</h3>
	</div>
	<div class="entry">
	    ${code}
	</div>
</div>
% endif

</%block>
