## -*- coding: utf-8 -*-
<%namespace name="helper" file="post_helper.tmpl"/>
<%namespace name="disqus" file="disqus_helper.tmpl"/>
<%namespace name="base_helper" file="base_helper.tmpl"/>

<%inherit file="base_base.tmpl"/>

<%block name="extra_head">
	<style>
		.header{
			display:none;
		}
	</style>
</%block>

<%block name="base_body_content">
	${post.text(lang)}  
	%if post.meta('comment')=="True":
        ${disqus.html_disqus(post)}
    %endif      
</%block>

<%block name="base_footer_content">
	${base_helper.go_top_js()}
</%block>